span {
    border-right: 3px solid white;
    white-space: pre;
    /* Disable select of text  */
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

.text {
    font-size: 50px;
    width: 80vw;
    margin: 7vw auto;
    word-wrap: break-word;
}

@keyframes blink {
    50% {
        border-right: 3px solid red;
    }
}

.text:focus .activeSpan {
    animation: blink .5s step-start infinite alternate;
}

*:focus {
    outline: none;
}